@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h3 class="text-white descricao mb-1">Hello, I'm L. Victor  a Fullstack Developer</h3>
    <div class="m-1">
        <a href="url" download="nome-do-arquivo" class="tracking-in-contract-bck-bottom text-uppercase p-1">Download CV</a>
        <a href="url" class="tracking-in-contract-bck-bottom text-uppercase p-1">contact</a>
    </div>
</div>
