@{
    ViewData["Title"] = "Pagina Inicial";
}


<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center d-flex flex-column">
        <div class="m-1">
            <a href="https://drive.google.com/file/d/18H0jRVL5jZQcjkrR5xJ84r5yaSNwaw11/view?usp=sharing" download="CV.pdf" class="tracking-in-contract-bck-bottom text-uppercase p-1">Download CV</a>
            <a href="url" class="tracking-in-contract-bck-bottom text-uppercase p-1">Contact</a>
        </div>
    </div>
</div>

<div class="d-block mt-5 div-com-distancia text-center" style="width: 100%;">
    <h3 class="mt-5" style="border: 1px solid red; padding: 20px; max-width: 900px; margin: 0 auto;">
        Com 8 anos de experiência em gamedev, sempre fui apaixonado por jogos e saber como as coisas funcionam. Ao decorrer desses anos, fui me especializando como desenvolvedor web com o objetivo de me qualificar para o mercado. Hoje, ofereço serviços freelancer e desenvolvimento e sempre participo de Gamejams por aí.
    </h3>
</div>
