/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Imperial+Script&family=Rouge+Script&family=Teko:wght@500&display=swap');

/* Base styles */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

h3 {
    font-size: 25px;
    font-family: "Teko", serif;
    text-align: center;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    body {
        height: 200px;
    }


    .div-com-distancia {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 900px;
        margin-bottom: 50px;
    }
}

.div-com-distancia {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 50px;
}

.d-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.descricao {
    max-width: 480px;
    margin: 60px auto;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    text-align: center;
    position: relative;
}

.descricao:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca 0.7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Button focus styles */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Animation for tracking-in-contract-bck-bottom class (optional) */
.tracking-in-contract-bck-bottom {
    animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        transform: translateZ(400px) translateY(300px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}
